.heading {
  margin-bottom: -2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  h3 {
    color: #0000ff;
    font-size: 1rem;
  }
  .horizontal-divider {
    display: block;
    height: 0.2rem;
    width: 5rem;
    background-color: #191970;
  }
}
